<div class="card-trip">
  <%= link_to project_path(project) do  %>
    <% if project.project_type == "Maison" %>
      <img src="https://img.netty.immo/product/marcq/VM31698/maison-individuelle-6-pieces-villeneuve-d-ascq-59493-1623757854-VM31698_25_original.jpg" />
    <% else %>
      <img src="https://www.lestienne-immobilier.com/crm/images/biens/A/17090/00!609fe1330de3a.jpg" alt="">
    <%end %>
  <%end %>

  <div class="card-trip-infos">
    <div>
      <%= link_to project_path(project) do  %>
        <h2><%= project.title.capitalize %></h2>
        <p><%= project.address %></p>
      <%end %>

      <div>
        <%= link_to project_path(project), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fas fa-trash trash-fa"></i>
        <%end%>

        <%= link_to edit_project_path(project) do %>
          <i class="far fa-edit edit-fa"></i>
        <%end%>
      </div>

    </div>

  </div>

</div>
