
  <div class="card-trip">
          <%= link_to project_path(project) do  %>
 <% if project.project_type == "Maison" %>
        <img src="https://images.unsplash.com/photo-1572120360610-d971b9d7767c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c21hbGwlMjBob3VzZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
      <% else %>
         <img src="https://images.unsplash.com/photo-1563567795533-75e32e10f361?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8ZmxhdHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
        <%end %>
      <%end %>

    <div class="card-trip-infos">
      <div>
        <%= link_to project_path(project) do  %>
          <h2><%= project.title.capitalize %></h2>
          <p><%= project.address %></p>
         <%end %>

      <div>
        <%= link_to project_path(project), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="fas fa-trash trash-fa"></i>
        <%end%>

        <%= link_to edit_project_path(project) do %>
             <i class="far fa-edit edit-fa"></i>
        <%end%>
      </div>
      </div>

    </div>
  </div>
