
  <div class="card-trip">
          <%= link_to project_path(project) do  %>
 <% if project.project_type == "Maison" %>
        <img src="https://images.unsplash.com/photo-1549889699-bbca54432749?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1500&q=80" />
      <% else %>
         <img src="https://images.unsplash.com/photo-1622763846204-5d0bf5031e06?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80" alt="">
        <%end %>
      <%end %>

    <div class="card-trip-infos">
      <div>
        <%= link_to project_path(project) do  %>
          <h2><%= project.title.capitalize %></h2>
          <p><%= project.address %></p>
         <%end %>

      <div>
        <%= link_to project_path(project), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="fas fa-trash trash-fa"></i>
        <%end%>

        <%= link_to edit_project_path(project) do %>
             <i class="far fa-edit edit-fa"></i>
        <%end%>
      </div>
      </div>

    </div>
  </div>
