<div class="banner-lbn">
  <div class="container">
    <h1>La Bonne Nouvelle ? <br> Vous allez vendre !</h1>
    <%= link_to "Commencez", new_user_session_path, class: "btn-lbn-home" %>
  </div>
</div>

  <div class="container banner-lbn-features", style="text-align:center; margin-top: 40px; margin-bottom: 40px">
    <h2 id="anchor-features"> Comment nous vous <br>simplifions la vente ?</h2>
    <p style="margin-top: 30px">La bonne nouvelle, c’est que vous allez vendre votre bien <br> facilement et au meilleur prix.</p>
  </div>

  <div class="container", style="text-align: center; color ">
    <div class="row">
      <div class="col-sm">
        <h3 style="font-weight: bold; font-size: x-large; margin-bottom: 20px">Accompagnement</h3>
        <p style="margin-bottom: 60px;">Suivez votre progression et validez chacunes des démarches obligatoires pour réaliser la vente, simplement depuis votre espace dédié.</p>
      </div>

    <div class="col-sm">
      <h3 style="font-weight: bold; font-size: x-large; margin-bottom: 20px">Chatbot & Conseils pro</h3>
      <p style="margin-bottom: 60px;">Notre chatbot Violette, vous accompagne à chaque étape de la vente. Laissez-vous guider par ses conseils, tirés de professionnels.</p>
    </div>

    <div class="col-sm">
      <h3 style="font-weight: bold; font-size: x-large; margin-bottom: 20px">Estimation de votre bien</h3>
      <p style="margin-bottom: 60px;">Estimez votre bien grâce à notre simulateur intelligent et vendez au meilleur prix.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <h3 style="font-weight: bold; font-size: x-large; margin-bottom: 20px">Création de l’annonce</h3>
      <p>La Bonne Nouvelle générera pour vous une annonce pertinente et vous partagera des conseils précieux pour vendre efficacement.</p>    </div>
    <div class="col-sm">
      <h3 style="font-weight: bold; font-size: x-large; margin-bottom: 20px">Agenda de visites</h3>
      <p>Gérer votre planning de visite facilement depuis votre espace. Renseignez vos disponibilités et le tour est joué.  </p>
    </div>

    <div class="col-sm">
      <h3 style="font-weight: bold; font-size: x-large; margin-bottom: 20px" >Choix des prestataires</h3>
      <p>Notaires, Diagnostiqueurs... Nous vous recommanderons les meilleurs professionnels.</p>
    </div>
  </div>
</div>

<div class= "background-hp">
  <div class="steplist-hp">

    <p id="anchor-etapes", class="p-title-hp", style="padding-bottom: 20px; padding-top: 30px;">Un coup d'oeil <br>sur les étapes à suivre</p>

    <div class="img-card-hp">
      <img src="https://images.unsplash.com/photo-1506784781895-38847b5e50e7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1535&q=80", class="img-hp" />

      <div class="cards-steps-hp">

        <div class="card-step-hp-1">
          <div class="card-content-hp">
            <p class="p-step-number-hp">ÉTAPE 1 : SE PRÉPARER À LA VENTE</p>
            <p class="p-step-content-hp">Se renseigner sur les démarches à accomplir, les documents administratifs à se procurer et s’entourer de professionnels compétents constituent les premières étapes de notre parcours.</p>
          </div>
        </div>

        <div class="card-step-hp-2">
          <div class="card-content-hp">
            <p class="p-step-number-hp">ÉTAPE 2 : LES QUESTIONS FINANCIÈRES</p>
            <p class="p-step-content-hp">Être capable d’évaluer la valeur de son bien, ainsi que les frais à acquitter qui vont en découler est un enjeu de taille et constitue l’un des actes préparatoires essentiels de la vente.</p>
          </div>
        </div>

        <div class="card-step-hp-3">
          <div class="card-content-hp">
            <p class="p-step-number-hp">ÉTAPE 3 : TROUVER UN ACHETEUR</p>
            <p class="p-step-content-hp">Il est temps d’entrer en contact avec de potentiels acheteurs ! Gestion de son temps et des créneaux de visites, tri entre les offres d’achat et négociation avec un futur acheteur: je vous accompagne !</p>
          </div>
        </div>

        <div class="card-step-hp-4">
          <div class="card-content-hp">
            <p class="p-step-number-hp">ÉTAPE 4 : FINALISATION DE LA VENTE</p>
            <p class="p-step-content-hp">Acheteur trouvé, vente à finaliser ! Revoyons ensemble les termes et conditions du contrat conclu avec votre acheteur avant de terminer par l’acte de signature et la remise des clés par votre notaire.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="banner-lbn-numbers">
  <div class="container">
    <h1>15 ans d’expertise <br> à votre service</h1>
  </div>
</div>

<div class="banner-lbn-avis">
  <div class="container">
    <h1>Ils ont une bonne <br> nouvelle à partager</h1>
  </div>

  <div class="box-avis-1">
  <%= image_tag "double_quote.png", class:"banner-lbn-avis-img", alt: "" %>
    <p> Je suis bleuffée par l’efficacité de la BONNE NOUVELLE. En peu de temps et très facilement, j’ai pu mettre en vente mon appartement en évitant les pièges de l’immobilier. Je recommande vivement. </p>
    <p>Estelle D.</p>
    <p>Appartement, Lille</p>
  </div>

  <div class="box-avis-2">
  <%= image_tag "double_quote.png", class:"banner-lbn-avis-img", alt: "" %>
    <p>Merci ! Quel gain de temps. ! Je n’ai pas eu besoin de chercher les informations. Tout est clair et personnalisé en fonction de mes besoins.” </p>
    <p>Violette R</p>
    <p>Maison, Wambrechies</p>
  </div>

  <div class="box-avis-3">
    <%= image_tag "double_quote.png", class:"banner-lbn-avis-img", alt: "" %>
    <p> Je suis convaincu. En 2 semaines j’ai vendu ma maison avec piscine au dessus du prix que j’envisageais. </p>
    <p>Maxence L.</p>
    <p>Maison, Bondue</p>
  </div>
</div>



<%= render "shared/footer" %>
