<div class="banner-lbn">
  <div class="container">
    <h1>La Bonne Nouvelle ? <br> Vous allez vendre !</h1>
    <%= link_to "Commencez", new_user_session_path, class: "btn-lbn-home" %>
  </div>
</div>

<%# Bloc Mineur Features %>
  <div class="container banner-lbn-features", style="text-align:center; margin-top: 40px; margin-bottom: 40px">
    <h2 id="anchor-features"> Comment nous vous <br>simplifions la vente ?</h2>
    <p style="margin-top: 30px">La bonne nouvelle, c’est que vous allez vendre votre bien <br> facilement et au meilleur prix.</p>
  </div>

  <div class="container", style="text-align: center; color ">
    <div class="row">
      <div class="col-sm">
        <%= image_tag "HP_icone.png", class:"banner-lbn-features-img", alt: "" %>
        <h3 style="font-weight: bold; font-size: x-large; margin-bottom: 20px">Accompagnement</h3>
        <p style="margin-bottom: 60px;">Suivez votre progression et validez chacune des démarches obligatoires pour réaliser la vente.</p>
      </div>

    <div class="col-sm">
      <%= image_tag "HP_icone.png", class:"banner-lbn-features-img", alt: "" %>
      <h3 style="font-weight: bold; font-size: x-large; margin-bottom: 20px">Chatbot</h3>
      <p style="margin-bottom: 60px;">Notre chatbot Violette, vous accompagne à chaque étape de la vente de votre bien.</p>
    </div>

    <div class="col-sm">
      <%= image_tag "HP_icone.png", class:"banner-lbn-features-img", alt: "" %>
      <h3 style="font-weight: bold; font-size: x-large; margin-bottom: 20px">Estimation de votre bien</h3>
      <p style="margin-bottom: 60px;">Estimez votre bien grâce à notre simulateur intelligent et vendez au meilleur prix.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <%= image_tag "HP_icone.png", class:"banner-lbn-features-img", alt: "" %>
      <h3 style="font-weight: bold; font-size: x-large; margin-bottom: 20px">Création de l’annonce</h3>
      <p>La Bonne Nouvelle générera pour vous une annonce pertinente.</p>    </div>
    <div class="col-sm">
      <%= image_tag "HP_icone.png", class:"banner-lbn-features-img", alt: "" %>
      <h3 style="font-weight: bold; font-size: x-large; margin-bottom: 20px"> Conseils de pro</h3>
      <p>Notre accompagnement a été pensé par des professionnels de l'immobilier</p>
    </div>

    <div class="col-sm">
      <%= image_tag "HP_icone.png", class:"banner-lbn-features-img", alt: "" %>
      <h3 style="font-weight: bold; font-size: x-large; margin-bottom: 20px" >Choix des prestataires</h3>
      <p>Notaires, Diagnostiqueurs... Nous vous recommanderons les meilleurs professionnels.</p>
    </div>
  </div>
</div>

<%# Bloc Mineur Stepper %>
<div class= "background-hp">
  <div class="steplist-hp">
<div class="container">
    <p id="anchor-etapes", class="p-title-hp", style="padding-bottom: 20px; padding-top: 30px;">Un coup d'oeil <br>sur les étapes à suivre</p>

    <div class="img-card-hp">
     <%= image_tag "HP_illu_steps.png", class:"", alt: "" %>

      <div class="cards-steps-hp">

        <div class="card-step-hp-1">
          <div class="card-content-hp">
            <p class="p-step-number-hp">ÉTAPE 1 : SE PRÉPARER À LA VENTE</p>
            <p class="p-step-content-hp">Se renseigner sur les démarches à accomplir, les documents administratifs à se procurer et s’entourer de professionnels compétents constituent les premières étapes de notre parcours.</p>
          </div>
        </div>

        <div class="card-step-hp-2">
          <div class="card-content-hp">
            <p class="p-step-number-hp">ÉTAPE 2 : LES QUESTIONS FINANCIÈRES</p>
            <p class="p-step-content-hp">Être capable d’évaluer la valeur de son bien, ainsi que les frais à acquitter qui vont en découler est un enjeu de taille et constitue l’un des actes préparatoires essentiels de la vente.</p>
          </div>
        </div>

        <div class="card-step-hp-3">
          <div class="card-content-hp">
            <p class="p-step-number-hp">ÉTAPE 3 : TROUVER UN ACHETEUR</p>
            <p class="p-step-content-hp">Il est temps d’entrer en contact avec de potentiels acheteurs ! Gestion de son temps et des créneaux de visites, tri entre les offres d’achat et négociation avec un futur acheteur: je vous accompagne !</p>
          </div>
        </div>

        <div class="card-step-hp-4">
          <div class="card-content-hp">
            <p class="p-step-number-hp">ÉTAPE 4 : FINALISATION DE LA VENTE</p>
            <p class="p-step-content-hp">Acheteur trouvé, vente à finaliser ! Revoyons ensemble les termes et conditions du contrat conclu avec votre acheteur avant de terminer par l’acte de signature et la remise des clés par votre notaire.</p>
          </div>
        </div>

      </div>
    </div>
     </div>
  </div>
</div>

<%# Bloc Mineur Numbers  %>
<div class="banner-lbn-numbers">
  <div class="container">
    <h2 class="banner-lbn-numbers-h2" >15 ans d’expertise <br> à votre service</h1>
  </div>

  <div style="text-align: center;">
    <div >
      <p style="font-weight: 800; font-size: 20px;">2 mois</p>
      <p style="font-size: smaller; margin-top: -18px">durée max d’une vente</p>
    </div>

    <div>
      <p style="font-weight: 800; font-size: 20px;">5000+</p>
      <p style="font-size: smaller; margin-top: -18px">biens vendus au meilleur prix</p>
    </div>
  </div>

  <div style="text-align: center">
    <div>
      <p style="font-weight: 800; font-size: 20px;">2 Millions</p>
      <p style="font-size: smaller; margin-top: -18px">d’utilisateurs</p>
    </div>

    <div>
      <p style="font-weight: 800; font-size: 20px;">140</p>
      <p style="font-size: smaller; margin-top: -18px">professionnels de l’immobilier <br> travaillent à nos côtés</p>
    </div>
  </div>
</div>

<%# Bloc Mineur Avis %>

<div class="banner-lbn-avis">
  <div class="container">
    <h1>Ils ont une bonne <br> nouvelle à partager</h1>
  </div>

  <div class="box-avis-1">
  <%= image_tag "double_quote.png", class:"banner-lbn-avis-img", alt: "" %>
    <p> Je suis bleuffée par l’efficacité de la BONNE NOUVELLE. En peu de temps et très facilement, j’ai pu mettre en vente mon appartement en évitant les pièges de l’immobilier. Je recommande vivement. </p>
    <p style="font-weight: 700; margin-bottom: 0px;">Estelle D.</p>
    <p style="font-size:smaller; color:grey">Appartement, Lille</p>
  </div>

  <div class="box-avis-2">
  <%= image_tag "double_quote.png", class:"banner-lbn-avis-img", alt: "" %>
    <p>Merci ! Quel gain de temps. ! Je n’ai pas eu besoin de chercher les informations. Tout est clair et personnalisé en fonction de mes besoins.” </p>
    <p style="font-weight: 700; margin-bottom: 0px;">Violette R</p>
    <p style="font-size:smaller; color:grey">Maison, Wambrechies</p>
  </div>

  <div class="box-avis-3">
    <%= image_tag "double_quote.png", class:"banner-lbn-avis-img", alt: "" %>
    <p> Je suis convaincu. En 2 semaines j’ai vendu ma maison avec piscine au dessus du prix que j’envisageais. </p>
    <p style="font-weight: 700; margin-bottom: 0px;">Maxence L.</p>
    <p style="font-size:smaller; color:grey">Maison, Bondue</p>
  </div>
</div>



<%= render "shared/footer" %>
