<div class="container", style="margin-top: 3%;">
  <div class="d-flex">
    <div class="form-part">

      <%= simple_form_for(@project) do |f| %>

        <%= f.input :title, label: false, placeholder: "Titre" %>
        <%= f.input :address, label: false, placeholder: "Adresse" %>

        <div class="align-form-by-two-index" style="grid-gap: 2px 24px;">
          <%= f.input :project_type, label: false, default: "Type", collection: ["Appartement", "Maison"] %>
          <%= f.input :selling_price, label: false, placeholder: "Prix de vente"%>
          <%= f.input :living_area, label: false, placeholder: "Surface habitable" %>
          <%= f.input :bathrooms_number, label: false, placeholder: "Nombre de salles de bain" %>
          <%= f.input :rooms_number, label: false, placeholder: "Nombre d'autres pièces" %>
          <%= f.input :building_date, label: false, placeholder: "Date de construction" %>

          <%= f.input :main_photo, input_html: { hidden: true }, label_html: { class: 'upload-photo'}, label: "📷 --Photo principale--" %>
          <%= f.input :photos, input_html: { hidden: true, multiple: true }, label_html: { class: 'upload-photo'}, label: "📷 --Autres photos--" %>
        </div>

        <div class="div-button-announce">
        <%= f.button :submit, "Créer votre annonce", class: "create-announce-button btn-lbn-pl" %>
        </div>
      <% end %>
    </div>

    <div>
    <%= image_tag "illu_annonce.png", class:"", alt: "" %>
    </div>

  </div>
</div>
