<div class="container">

  <div class="titles-show">
      <h1 class="title-show">Votre Projet</h1>
      <h2 class="subtitle-show">- <%= @project.title %> -</h2>
  </div>

                                  <%# PROGRESSION %>
  <div class="background-progression">
    <div class="progression-show">

      <h2 class="h2-progression-show">- Votre Progression -</h2>

      <div class="schema-progression-show">

        <div class="steps-progression-show">
          <%= link_to chatbot_project_path do %>
            <%= image_tag "https://images.unsplash.com/photo-1526280760714-f9e8b26f318f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80", class: "img-progression-show" %>
          <% end %>
          <p class="step-progression-show">ÉTAPE 1</p>
          <p class="stepcontent-progression-show">Se Préparer à la vente</p>
        </div>

        <div class="steps-progression-show">
          <%= link_to chatbot_project_path do %>
            <%= image_tag "https://images.unsplash.com/photo-1586034679970-cb7b5fc4928a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80", class: "img-progression-show"%>
          <% end %>
          <p class="step-progression-show">ÉTAPE 2</p>
          <p class="stepcontent-progression-show">Les Questions Financières</p>
        </div>

        <div class="steps-progression-show">
          <%= link_to chatbot_project_path do %>
            <%= image_tag "https://images.unsplash.com/photo-1580893246395-52aead8960dc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80", class: "img-progression-show"%>
          <% end %>
          <p class="step-progression-show">ÉTAPE 3</p>
          <p class="stepcontent-progression-show">Trouver un Acheteur</p>
        </div>

        <div class="steps-progression-show">
          <%= link_to chatbot_project_path do %>
            <%= image_tag "https://images.unsplash.com/photo-1584985429926-08867327d3a6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80", class: "img-progression-show"%>
          <% end %>
          <p class="step-progression-show">ÉTAPE 4</p>
          <p class="stepcontent-progression-show">Finalisation de la Vente</p>
        </div>
      </div>

    </div>

  </div>

                              <%# RECAPITULATIF %>

  <div class="recapitulatif-show">

    <h2 class="h2-recapitulatif-show">- Votre Récapitulatif -</h2>

    <div class="cards-row1-recapitulatif-show">

      <div class="card-recapitulatif-show">
        <p class="title-card-recapitulatif-show">Information 1</p>
        <hr class="hr-recapitulatif-show">
        <p class="content-card-recapitulatif-show">Contenu 1</p>
      </div>

      <div class="card-recapitulatif-show">
        <p class="title-card-recapitulatif-show">Information 2</p>
        <hr class="hr-recapitulatif-show">
        <p class="content-card-recapitulatif-show">Contenu 2</p>
      </div>

      <div class="card-recapitulatif-show">
        <p class="title-card-recapitulatif-show">Information 3</p>
        <hr class="hr-recapitulatif-show">
        <p class="content-card-recapitulatif-show">Contenu 3</p>
      </div>

      <div class="card-recapitulatif-show">
        <p class="title-card-recapitulatif-show">Information 4</p>
        <hr class="hr-recapitulatif-show">
        <p class="content-card-recapitulatif-show">Contenu 4</p>
      </div>

    </div>

    <div class="cards-row2-recapitulatif-show">

      <div class="card-recapitulatif-show">
        <p class="title-card-recapitulatif-show">Information 5</p>
        <hr class="hr-recapitulatif-show">
        <p class="content-card-recapitulatif-show">Contenu 5</p>
      </div>

      <div class="card-recapitulatif-show">
        <p class="title-card-recapitulatif-show">Information 6</p>
        <hr class="hr-recapitulatif-show">
        <p class="content-card-recapitulatif-show">Contenu 6</p>
      </div>

      <div class="card-recapitulatif-show">
        <p class="title-card-recapitulatif-show">Information 7</p>
        <hr class="hr-recapitulatif-show">
        <p class="content-card-recapitulatif-show">Contenu 7</p>
      </div>

      <div class="card-recapitulatif-show">
        <p class="title-card-recapitulatif-show">Information 8</p>
        <hr class="hr-recapitulatif-show">
        <p class="content-card-recapitulatif-show">Contenu 8</p>
      </div>

    </div>

  </div>

                      <%# VOS INFORMATIONS SAUVEGARDEES %>
<div class="background-infosaved">

    <div class="infosaved-show">

      <h2 class="h2-infosaved-show">- Vos Informations Sauvegardées -</h2>

      <div class="cards-infosaved-show">

        <div class="card-infosaved-show">
        <img src="https://images.unsplash.com/photo-1580893246395-52aead8960dc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80" class="img-card-infosaved-show">

          <div class="card-content-infosaved-show">
            <h2 class="info-title-infosaved-show">Information titre</h2>
            <hr>
            <p>Information contenu</p>
          </div>
        </div>

        <div class="card-infosaved-show">
        <img src="https://images.unsplash.com/photo-1580893246395-52aead8960dc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80" class="img-card-infosaved-show">

          <div class="card-content-infosaved-show">
            <h2 class="info-title-infosaved-show">Information titre</h2>
            <hr>
            <p>Information contenu</p>
          </div>
        </div>

        <div class="card-infosaved-show">
        <img src="https://images.unsplash.com/photo-1580893246395-52aead8960dc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80" class="img-card-infosaved-show">

          <div class="card-content-infosaved-show">
            <h2 class="info-title-infosaved-show">Information titre</h2>
            <hr>
            <p>Information contenu</p>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
