
  <div class="titles-show">
      <h1 class="title-show">Votre Projet</h1>
      <h2 class="subtitle-show"><%= @project.title %></h2>
  </div>

                              <%# PROGRESSION %>

  <div class="background-progression">
    <div class="progression-show">

      <div class="stepper-wrapper-show">

        <% @steps.each do |step| %>
          <div class="stepper-item-show <%= step.number < @ongoing_step.number ? "completed" : "Not-completed" %>">
          <div class="step-counter-show"><%= step.number %></div>
          <div class="step-content-show"><%= step.title %></div>
        </div>
        <% end %>

      </div>

      <div class="div-button-acceder-chatbot-show">
        <%= link_to chatbot_project_path, class: "button-acceder-chatbot-show" do %>Accéder à votre chatbot<% end %>
      </div>

    </div>

  </div>

                              <%# CAROUSEL STEPS %>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner">

      <div class="carousel-item active" data-pause="hover">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <img class="d-block w-100" src="https://images.unsplash.com/photo-1526280760714-f9e8b26f318f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80" alt="First slide">
      </div>
      <div class="carousel-caption d-none d-md-block col-md-8 col-sm-8 col-xs-8 d-none d-md-block">
        <span class="title-step-carousel"><b>ÉTAPE 1 : Se préparer à la vente</b><br><br>Se renseigner sur les démarches à accomplir, les documents administratifs à se procurer et s’entourer de professionnels compétents constituent les premières étapes de notre parcours.<br><br></span>
      </div>
      </div>

      <div class="carousel-item">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <img class="d-block w-100" src="https://images.unsplash.com/photo-1586034679970-cb7b5fc4928a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" alt="Second slide">
      </div>
      <div class="carousel-caption d-none d-md-block col-md-8 col-sm-8 col-xs-8">
       <span class="title-step-carousel"><b>ÉTAPE 2 : Les questions financières</b><br><br>Être capable d’évaluer la valeur de son bien, ainsi que les frais à acquitter qui vont en découler est un enjeu de taille et constitue l’un des actes préparatoires essentiels de la vente.<br><br></span>
      </div>
      </div>

      <div class="carousel-item">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <img class="d-block w-100" src="https://images.unsplash.com/photo-1580893246395-52aead8960dc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80" alt="Third slide">
      </div>
      <div class="carousel-caption d-none d-md-block col-md-8 col-sm-8 col-xs-8">
       <span class="title-step-carousel"><b>ÉTAPE 3 : Trouver un acheteur</b><br><br>Il est temps d’entrer en contact avec de potentiels acheteurs ! Gestion de son temps et des créneaux de visites, tri entre les offres d’achat et négociation avec un futur acheteur: je vous accompagne !<br><br></span>
      </div>
      </div>

      <div class="carousel-item">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <img class="d-block w-100" src="https://images.unsplash.com/photo-1593884165215-43fdc8b9ad47?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80" alt="Fourth slide">
      </div>
      <div class="carousel-caption d-none d-md-block col-md-8 col-sm-8 col-xs-8">
       <span class="title-step-carousel"><b>ÉTAPE 4 : Finalisation de la vente</b><br><br>Acheteur trouvé, vente à finaliser ! Revoyons ensemble les termes et conditions du contrat conclu avec votre acheteur avant de terminer par l’acte de signature et la remise des clés par votre notaire.<br><br></span>
      </div>
      </div>

    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>

                              <%# RECAPITULATIF %>

  <div class="recapitulatif-show">

    <h2 class="h2-recapitulatif-show">Votre Récapitulatif</h2>

    <div class="cards-row1-recapitulatif-show">

      <div class="card-recapitulatif-show">
        <p class="title-card-recapitulatif-show">Adresse</p>
        <hr class="hr-recapitulatif-show">
        <p class="content-card-recapitulatif-show"><%= @project.address %></p>
      </div>

      <div class="card-recapitulatif-show">
        <p class="title-card-recapitulatif-show">Type de bien</p>
        <hr class="hr-recapitulatif-show">
        <p class="content-card-recapitulatif-show"><%= @project.project_type %></p>
      </div>

      <div class="card-recapitulatif-show">
        <p class="title-card-recapitulatif-show">Estimation du prix</p>
        <hr class="hr-recapitulatif-show">
        <p class="content-card-recapitulatif-show"><%= @project.estimated_price %> €</p>
      </div>

      <div class="card-recapitulatif-show">
        <p class="title-card-recapitulatif-show">Date de construction</p>
        <hr class="hr-recapitulatif-show">
        <p class="content-card-recapitulatif-show"><%= @project.building_date %></p>
      </div>

    </div>

    <div class="cards-row2-recapitulatif-show">

      <div class="card-recapitulatif-show">
        <p class="title-card-recapitulatif-show">Surface habitable/non-habitable</p>
        <hr class="hr-recapitulatif-show">
        <p class="content-card-recapitulatif-show"><%= @project.living_area %> m2 / <%= @project.non_living_area %> m2</p>
      </div>

      <div class="card-recapitulatif-show">
        <p class="title-card-recapitulatif-show">Terrain constructible ?</p>
        <hr class="hr-recapitulatif-show">
        <p class="content-card-recapitulatif-show"><%= @project.buildable %></p>
      </div>

      <div class="card-recapitulatif-show">
        <p class="title-card-recapitulatif-show">Nombre de pièces</p>
        <hr class="hr-recapitulatif-show">
        <p class="content-card-recapitulatif-show"><%= @project.rooms_number %></p>
      </div>

      <div class="card-recapitulatif-show">
        <p class="title-card-recapitulatif-show">Nombre de chambres & SDB</p>
        <hr class="hr-recapitulatif-show">
        <p class="content-card-recapitulatif-show"><%= @project.bedrooms_number%> chambres / <%= @project.bathrooms_number %> SDB</p>
      </div>

    </div>

  </div>

  <%# ANNONCE %>
<div class="background-annonce">
  <div class="annonce-show">
    <h2 class="h2-annonce-show">Pré-visualisation de votre annonce</h2>
  </div>

  <div class="d-flex top">
  	<div class="ti">
      <strong>Marcq en Baroeul</strong>
      <span><br>Buisson
      <span class="picto_ligne ligne1">T</span>
      <span class="picto_ligne ligne2">R</span>
      </span>
      <h2>Vente maison T5 90m<sup>2</sup> à Marcq en Baroeul</h2>
    </div>

    <div class="prix">
      <span><strong>315 000 € <sup>*</sup></strong><br>Prix honoraires inclus</span>
    </div>
  </div>

</div>

                      <%# VOS INFORMATIONS SAUVEGARDEES %>

  <%#   <div class="background-infosaved">

    <div class="infosaved-show">

      <h2 class="h2-infosaved-show">Vos Informations Sauvegardées</h2>

      <div class="cards-infosaved-show">

        <div class="card-infosaved-show">
        <img src="https://images.unsplash.com/photo-1554995207-c18c203602cb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" class="img-card-infosaved-show">

          <div class="card-content-infosaved-show">
            <h2 class="info-title-infosaved-show">Les frais de notaire</h2>
            <hr>
            <p class="info-content-infosaved-show">Les frais de notaire sont acquittés par l’acheteur et comprennent <b>les frais et débours</b> (l’ensemble des sommes acquittées par le Notaire pour le compte du client) et <b>les émoluments</b> (la rémunération du notaire). <br><br> Pour donner un ordre d’idée, ces frais sont compris <b>entre 2% et 3 % du prix de vente pour un bien neuf</b> et peuvent aller <b>jusqu’à 8 % du prix de vente pour un bien ancien</b>.</p>
          </div>
        </div>

        <div class="card-infosaved-show">
        <img src="https://images.unsplash.com/photo-1566013656433-e818796d04f7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" class="img-card-infosaved-show">

          <div class="card-content-infosaved-show">
            <h2 class="info-title-infosaved-show">L'acompte</h2>
            <hr>
            <p class="info-content-infosaved-show">Il est courant de demander un acompte à l’acheteur afin de le <b>décourager à se retirer de la vente</b> sans motif et ainsi vous protéger.<br><br>Le montant de l’acompte demandé est libre (maximum de 10% du prix de vente). A noter : certains acheteurs ne seront pas très réceptifs à l’idée de verser une telle somme. A vous de juger si vous souhaitez tout de même insister et pour quel montant.<br><br>L’acompte est ensuite <b>bloqué par votre notaire</b> lors de la signature du compromis.<br><br>Si l’acquéreur se retire après le délai de rétractation sans raison prévue par une clause suspensive, <b>l’acompte vous sera versé</b> pour compenser la perte de temps et d’argent généré.</p>
          </div>
        </div>

        <div class="card-infosaved-show">
        <img src="https://images.unsplash.com/photo-1604859628347-d87170b4e4bb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1460&q=80" class="img-card-infosaved-show">

          <div class="card-content-infosaved-show">
            <h2 class="info-title-infosaved-show">Le droit de préemption</h2>
            <hr>
            <p class="info-content-infosaved-show"><b><u>Définition du droit de préemption</b></u><br><br>Si votre bien se situe dans une zone de préemption urbaine* <i>(zone définie par la mairie de votre ville)</i>, la mairie a la possibilité de préempter votre bien <b>dans un délai de 2 mois </b><i>(suivant la réception d’une déclaration envoyée par votre notaire)</i>. Cela signifie donc que votre vente ne pourra réellement être conclue qu’à l’issue de ce délai <i>(soit minimum 2 mois après la signature du compromis)</i>.<br><br>*N’hésitez pas à contacter le service urbanisme de votre mairie pour vérifier si votre maison se situe dans l’une de ces zones.<br><br><b><u>Que signifie préempter ?</b></u><br><br>C’est le fait pour la mairie de <b>racheter votre bien</b> au prix convenu avec votre acquéreur <b>à sa place</b>.<br><br><b><u>Pouvez-vous agir contre cette décision ?</b></u><br><br>Votre acheteur et vous, pouvez néanmoins agir contre cette action si la mairie l’a réalisée <b>sans objectif d'opération d'aménagement urbain</b>. N’hésitez pas à vous entretenir avec votre notaire pour de plus amples informations.</p>
          </div>
        </div>

      </div>

    </div>

  </div>%>

<%= render "shared/footer" %>
