  <div class="titles-show">
      <h1 class="title-show">Votre Projet</h1>
      <h2 class="subtitle-show"><%= @project.title %></h2>
  </div>

                              <%# PROGRESSION %>

  <div class="background-progression">
    <div class="progression-show">

      <div class="stepper-wrapper-show">

        <% @steps.each do |step| %>
          <div class="stepper-item-show <%= step.number < @ongoing_step.number ? "completed" : "Not-completed" %>">
          <div class="step-counter-show"><%= step.number %></div>
          <div class="step-content-show"><%= step.title %></div>
        </div>
        <% end %>

      </div>

      <div class="div-button-acceder-chatbot-show">
        <%= link_to chatbot_project_path, class: "button-acceder-chatbot-show" do %>Accéder au chatbot<% end %>
      </div>

    </div>

  </div>

                              <%# CAROUSEL STEPS %>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1" ></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner">

      <div class="carousel-item active" data-pause="hover">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <img class="d-block w-100" src="https://images.unsplash.com/photo-1526280760714-f9e8b26f318f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80" alt="First slide">
      </div>
      <div class="row justify-content-center">
      <div class="carousel-caption d-none d-md-block col-md-8 col-sm-8 col-xs-8 d-none d-md-block">
        <span class="title-step-carousel"><b>ÉTAPE 1 : Se préparer à la vente</b><br><br>Se renseigner sur les démarches à accomplir, les documents administratifs obligatoires et s’entourer de professionnels compétents constituent les premières étapes de notre parcours.<br><br></span>
      </div>
      </div>
      </div>

      <div class="carousel-item">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <img class="d-block w-100" src="https://images.unsplash.com/photo-1586034679970-cb7b5fc4928a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" alt="Second slide">
      </div>
      <div class="carousel-caption d-none d-md-block col-md-8 col-sm-8 col-xs-8">
       <span class="title-step-carousel"><b>ÉTAPE 2 : Les questions financières</b><br><br>Être capable d’évaluer la valeur de son bien, ainsi que les frais à acquitter qui vont en découler est un enjeu de taille et constitue l’un des actes préparatoires essentiels de la vente.<br><br></span>
      </div>
      </div>

      <div class="carousel-item">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <img class="d-block w-100" src="https://images.unsplash.com/photo-1580893246395-52aead8960dc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80" alt="Third slide">
      </div>
      <div class="carousel-caption d-none d-md-block col-md-8 col-sm-8 col-xs-8">
       <span class="title-step-carousel"><b>ÉTAPE 3 : Trouver un acheteur</b><br><br>Il est temps d’entrer en contact avec de potentiels acheteurs ! Gestion de son temps et des créneaux de visites, tri entre les offres d’achat et négociation avec un futur acheteur: je vous accompagne !<br><br></span>
      </div>
      </div>

      <div class="carousel-item">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <img class="d-block w-100" src="https://images.unsplash.com/photo-1593884165215-43fdc8b9ad47?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80" alt="Fourth slide">
      </div>
      <div class="carousel-caption d-none d-md-block col-md-8 col-sm-8 col-xs-8">
       <span class="title-step-carousel"><b>ÉTAPE 4 : Finalisation de la vente</b><br><br>Acheteur trouvé, vente à finaliser ! Revoyons ensemble les termes et conditions du contrat conclu avec votre acheteur avant de terminer par l’acte de signature et la remise des clés par votre notaire.<br><br></span>
      </div>
      </div>

    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>
                              <%# RECAPITULATIF BIS%>




                              <%# RECAPITULATIF %>

  <div class="recapitulatif-show">

    <h2 class="h2-recapitulatif-show">Votre Récapitulatif</h2>

    <div class="cards-row1-recapitulatif-show">

      <div class="card-recapitulatif-show">
        <p class="title-card-recapitulatif-show">Adresse</p>
        <hr class="hr-recapitulatif-show">
        <p class="content-card-recapitulatif-show-adresse"><%= @project.address %></p>
      </div>

      <div class="card-recapitulatif-show">
        <p class="title-card-recapitulatif-show">Estimation du prix</p>
        <hr class="hr-recapitulatif-show">
        <p class="content-card-recapitulatif-show"><%= @project.estimated_price %> 280 000€</p>
      </div>

        <div class="card-recapitulatif-show">
        <p class="title-card-recapitulatif-show">Surface</p>
        <hr class="hr-recapitulatif-show">
        <p class="content-card-recapitulatif-show"><%= @project.living_area %> m2
      </div>

      <div class="card-recapitulatif-show">
        <p class="title-card-recapitulatif-show">Nombre de pièces</p>
        <hr class="hr-recapitulatif-show">
        <p class="content-card-recapitulatif-show-room">
        <% if @project.rooms_number == nil %>
          /
          <% else %>
        <%= @project.rooms_number %>
        <% end %></p>
      </div>

    </div>

  </div>


  <%# ANNONCE %>
  <% if @project.main_photo != nil %>
<div class="background-annonce">
  <div class="annonce-show">
    <h2 class="h2-annonce-show">Pré-visualisation de votre annonce</h2>
  </div>

  <div class="annonce-bloc">
    <div class="d-flex top">
      <div class="ti">
        <strong>Marcq en Baroeul</strong>
      </div>

      <div class="prix">
        <span class="prix"> <%= @project.selling_price%>€ </span>
      </div>
    </div>

     <div>
    <h1 style="font-size: 30px; font-weight: 500; text-align: -webkit-left; margin-bottom: 30px; margin-left: 25px">Vente <%= @project.project_type%> <%= @project.living_area %> m<sup>2</sup> à Marcq en Baroeul</h1>
    </div>

    <div class="desc">
      <%= cl_image_tag @project.main_photo.key, crop: :fill, style:"width: inherit"%>

      <div class="detail">
        <p style="font-size:14px; padding: 10%;"> <strong>Marcq en Baroeul</strong>, secteur <strong>Buisson</strong> . Découvrez cette maison se composant d'une entrée desservant d'un espace de vie d'environ 40 m² se composant d'un séjour et une cuisine équipée ainsi qu' une salle de douche et un espace buanderie. À l'étage, vous trouverez 2 chambres avec parquet. Un beau jardin vient parfaire ce bien. </p>
			  <ul class="pictos_biens">
        <li class="chambres"> <%= @project.rooms_number%> chambres</li>
        <li class="sdb"> <%= @project.bathrooms_number%> salle de bains</li>
        <li class="etat"> <%= @project.building_date%> </li>
        </ul>
		  </div>
	  </div>
  </div>
</div>
  <% end %>
<%= render "shared/footer" %>
